.pinboard {
  padding-top: 100px;
  z-index: 1;
  background: #eae7e7;
  position: fixed;
  height: 100%;
  width: 100%;
}

.notecard-list{
  width: 1040px;
  margin: auto;
}

.add-note-wrapper-empty{
  height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 100px;

}

.add-note-wrapper{
  width: 33%;
  float: left;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  height: 300px;
}
